.roles-ui-extends {
	margin:20px 0;
}
.roles-ui-extends .elgg-list li {
	display:inline-block;
	padding:4px 8px;
	margin:5px;
	border:1px solid #e8e8e8;
}
.roles-ui-permissions {
	min-width: 1200px;
	overflow: auto;
}
.roles-ui-permission {
	border: 1px solid #f4f4f4;
	margin: 5px 0;
	position:relative;
	height: 40px;
	overflow:hidden;
}
.roles-ui-rule-perm-type {
	text-align:center;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial;
	display: inline-block;
	vertical-align: middle;
	margin: -1px;
	line-height: 42px;
	width: 80px;
	background:#f4f4f4;
}

.roles-ui-rule-name {
	display:inline-block;
	vertical-align: middle;
	margin:0 5px;
	padding:3px;
	width: 25%;
	font-weight:bold;
}

.roles-ui-rule {
	display:inline-block;
	vertical-align: middle;
	margin:0 5px;
	padding:3px;
	width:10%;
}

.roles-ui-rule-options {
	display:inline-block;
	width:auto;
	vertical-align: middle;
	margin:0 5px;
	padding:3px;
}
.roles-ui-rule-options .option {
	display:inline-block;
	margin-right:10px;
}
.roles-ui-rule-options .option strong {
	margin-left:5px;
	padding:4px 8px;
	background:#f4f4f4;
}
.roles-ui-rule-actions {
	position:absolute;
	right:0;
	top:0;
	padding:0 3px;
	background:#f4f4f4;
	text-align:right;
	line-height:40px;
}
.roles-ui-form input, .roles-ui-form select {
	display: inline;
	width: auto;
}

.roles-ui-warning {
	color:red;
	display:inline;
	margin-left:5px;
}